<div class="header banner">
  <div class="socials">
    <a class="social" href="https://www.facebook.com/some_shop" target="_blank"><i class="fab fa-facebook"></i></a>
    <a class="social" href="https://twitter.com/some_shop" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="social" href="https://www.snapchat.com/add/some_shop" target="_blank"><i class="fab fa-snapchat-ghost"></i></a>
    <a class="social" href="https://www.instagram.com/some_shop" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="account">
    <a routerLink="login">Login / Register</a>
    <app-currency-dropdown></app-currency-dropdown>
  </div>
</div>