<footer>
  <div class="flex">
      <ul class="menu">
        <li class="title">Shop</li>
        <li>
          <a routerLink="sale/latest">Sale</a>
        </li>
        <li>
          <a routerLink="category/mens-clothing">Men</a>
        </li>
        <li>
          <a routerLink="category/womens-clothing">Women</a>
        </li>
        <li>
          <a routerLink="category/kids-clothing">Kids</a>
        </li>
        <li class="title">Legal</li>
        <li>
          <a routerLink="legal/terms-and-conditions">Terms &amp; Conditions</a>
        </li>
        <li>
          <a routerLink="legal/privacy-policy">Privacy Policy</a>
        </li>
      </ul>
      <ul class="menu">
        <li class="title">Help</li>
        <li>
          <a routerLink="careers">Careers</a>
        </li>
        <li>
          <a routerLink="about-us">About Us</a>
        </li>
        <li>
          <a routerLink="contact-us">Contact Us</a>
        </li>
        <li>
          <a routerLink="customer-support">Customer Support</a>
        </li>
        <li class="payment methods">
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <!-- <i class="fab fa-cc-amex"></i> -->
          <!-- <br /> -->
          <i class="fab fa-cc-paypal"></i>
          <i class="fab fa-cc-apple-pay"></i>
        </li>
      </ul>
  </div>
  <p>
    Copyright 2018 ExampleStore. All rights reserved.
  </p>
  <a class="title" routerLink="">
    <h1>EXAMPLE</h1>
    <h2>STORE</h2>
  </a>
</footer>
