<section class="login">
  <div class="login container">
    <h1>Login</h1>

    <form class="login form">
      <div class="login input">
        <input type="email" placeholder="Email Address" name="email">
      </div>
      <div class="login input">
        <input type="password" placeholder="Password" name="password">
      </div>
      <button type="submit">LOGIN</button>
    </form>
    <form class="register form">
      <p class="or register">
        <span>Or Register</span>
      </p>
      <div class="login input">
        <input type="email" placeholder="Email Address" name="email">
      </div>
      <div class="halved login input">
        <input type="password" placeholder="Password" name="password">
      </div>
      <div class="halved login input">
        <input type="password" placeholder="Confirm Password" name="cpassword">
      </div>
      <button type="submit">REGISTER</button>
    </form>
  </div>
</section>