<section class="login">
  <div class="login container">
    <h1>{{ formType ? (formType === 'login' ? 'Login' : 'Register') : 'Login / Register' }}</h1>

    <form class="login form" [formGroup]="lrForm" (ngSubmit)="loginOrRegister(lrForm.value)">
      <div class="login input">
        <input type="email" placeholder="Email Address" formControlName="email" (blur)="checkEmail(emailField.value)" #emailField>
      </div>
      <div class="login input">
        <input type="password" placeholder="Password" formControlName="password">
      </div>
      <div class="login input" *ngIf="formType === 'register'">
        <input type="password" placeholder="Confirm Password" formControlName="cpassword">
      </div>
      <button type="submit">{{ formType ? (formType === 'login' ? 'LOGIN' : 'REGISTER') : 'SUBMIT' }}</button>
    </form>
    <span class="error">{{ error || '&nbsp;' }}</span>
  </div>
</section>