<div class="banner container">
  <div class="left button"></div>
  <div class="banner items">
    <a class="banner item" routerLink="/sale/1">
      <img src="https://cdn.bradw.io/ecommerce-app/flat-product-sale-shoe-banner-p1-.jpg">
    </a>
    <a class="banner item" routerLink="/category/sling-bags">
      <img src="https://cdn.bradw.io/ecommerce-app/banner-sling-bags.jpg">
    </a>
    <a class="banner item" routerLink="/category/designer-mens-clothing">
      <img src="https://cdn.bradw.io/ecommerce-app/slide5.jpg">
    </a>
  </div>
  <div class="right button"></div>
</div>
